<div class="container">
<h1>ANGULAR + ASP.NET CORE CRUD</h1>
  <div class="cards-container">
    <div class="card-form">
      <form>
        <div class="form-group">
          <label for="">Card Name</label>
        <input type="text" name="cardName">
        </div>
        <div class="form-group">
          <label for="">Card Number</label>
        <input type="text" name="cardNumber">
        </div>
        <div class="form-group form-group-inline">
          <div>
            <label for="">CVC</label>
            <input type="text" name="cvc">
          </div>
          <div>
            <label for="">Expiry Month</label>
            <input type="text" name="expiryMonth">
          </div>
          <div>
            <label for="">Expiry Year</label>
            <input type="text" name="expiryYear">
          </div>
          
        </div>
      </form>
    </div>
    <div class="card-grid">

    </div>
  </div>
</div>